.list-question {
    width: 804px;
    gap: 40px;
    padding: 24px 20px 40px;
    background-color: #FFFFFF;
   display: flex;
   flex-direction: column;
   border-radius: 24px ;

}

.container-question {
    background-color: #FFFFFF;
    display: flex;
   flex-direction: column;
   gap: 24px

}

.container-titel {
     background-color: #FFFFFF;
     color: #191919;
     font-size: 24px;
     font-weight: 500;
     padding: 0 10px 16px 0;
     border-bottom: 0.5px solid #E8E8E8;
}